<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Übersicht</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list>
    <ion-list-header>
      Gesetzte Termine
    </ion-list-header>
    <button ion-item *ngFor="let item of scheduledEvents" (click)="itemTapped($event, item)" class="item item-text-wrap" text-wrap>
      <ion-icon name="calendar" item-left></ion-icon>
      {{item.meeting.name}} angesetzt für {{item.startDate  | date : "dd.MM.y HH:mm"}} Uhr - {{item.endDate | date : "HH:mm"}} Uhr


      <div class="item-note" item-right>
        <ion-icon name="eye" item-right></ion-icon>
      </div>

    </button>
  </ion-list>


  <ion-list>

    <ion-list-header>
      Geplante Events
    </ion-list-header>

    <button ion-item *ngFor="let item of plannedEvents" (click)="itemTapped($event, item)">
      <ion-icon name="calendar" item-left></ion-icon>
      {{item.meeting.reoccurrence}} {{item.meeting.name}}
      <div class="item-note" item-right>
        <ion-icon name="build" item-right></ion-icon>
      </div>
    </button>
  </ion-list>

  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>



  <ion-fab right bottom>

    <button ion-fab color="primary" (tap)="clearStorage()"><ion-icon name="add"></ion-icon></button>

  </ion-fab>

</ion-content>
